.footer {
    width: 100%;
    margin: 10px 0;

    background:#06284f;
    color: white;

    padding: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 100%;
    text-align: center;
}

.footer-content p:first-child {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

.footer-content p:last-child {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.9;
}